{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block body %}
<h3>Django-Auth is an open-sourced project by <a class="auth" href="http://thecloutenproject.com/>">Chris Clouten</a>. This is meant to serve as an example application for using OAuth with Django. To check out the source code, and the steps for how you can incorporate OAuth into your Django application without using a large social OAuth library, check out the <a class="auth" href="http://triplec1988.github.io/django-auth/">Django-Auth</a> Github page</h3>
{% endblock %}