{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<form action="" method="post" class="form-horizontal">
    <div class="row-fluid">
        <div class="span12">
        	<p>Please specify your email address to receive instructions for resetting your password.</p>
            {% include "include_form.html" %}
            <div class="login-buttons">
                <button type="submit" class="btn btn-sfu" value="login">Reset Password</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}