a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: none;}

/* NEW STYLES */
.megrim {
	font-family: "Megrim" !important;
}
body {
	font-family: "Raleway" !important;
}
.social-icon {
	position: relative;
	top: 2px;
	margin-right: 5px;
}
.foursquare:hover {
	background-color: #0cbadf;
}
.instagram:hover {
	background-color: #3f729b;
}
.github:hover {
	background-color: #d6e685;
}
.nav a:hover, .navbar-brand:hover {
	color: #8cc665 !important;
}